/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts101 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts102 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts103 /* Font Style */
{
 font-size: 16pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts104 /* Font Style */
{
 font-size: 16pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 color: #000000;
}
span.rvts105 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #333333;
}
span.rvts106 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #333333;
}
span.rvts107 /* Font Style */
{
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts108 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts109 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts110 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #282828;
}
span.rvts111 /* Font Style */
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #282828;
}
span.rvts112 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #0000ff;
}
span.rvts113 /* Font Style */
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts114 /* Font Style */
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts115 /* Font Style */
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts116 /* Font Style */
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts117 /* Font Style */
{
 font-weight: bold;
 color: #000000;
}
span.rvts118 /* Font Style */
{
 color: #000000;
}
span.rvts119 /* Font Style */
{
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts120 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts121 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 color: #000000;
}
span.rvts122 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #ff3333;
}
span.rvts123 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
 color: #b80047;
}
span.rvts124 /* Font Style */
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts125 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #b80047;
}
span.rvts126 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 color: #b80047;
}
span.rvts127 /* Font Style */
{
 font-size: 0pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts128 /* Font Style */
{
 font-size: 0pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts129 /* Font Style */
{
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts130 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts131 /* Normal text */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
a.rvts132, span.rvts132 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts132:hover { color: #0000ff; }
a.rvts133, span.rvts133 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts133:hover { color: #0000ff; }
span.rvts134 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts135 /* Font Style */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts136 /* Normal text */
{
 font-weight: bold;
}
span.rvts137 /* Normal text */
{
 font-style: italic;
 font-weight: bold;
 color: #ff00ff;
}
span.rvts138 /* Normal text */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts139 /* Normal text */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
 color: #ff00ff;
}
/* ========== Para Styles ========== */
p,ul,ol /* left align */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps101 /* Paragraph Style */
{
}
.rvps102 /* Paragraph Style */
{
 text-indent: -24px;
 margin: 0px 0px 0px 48px;
}
.rvps103 /* Paragraph Style */
{
 margin: 8px 0px 8px 0px;
}
.rvps104 /* left align */
{
 margin: 0px 0px 0px 28px;
}
.rvps105 /* left align */
{
 text-indent: 48px;
 margin: 0px 0px 0px 144px;
}
.rvps106 /* left align */
{
 margin: 0px 0px 0px 240px;
}
.rvps107 /* left align */
{
 text-indent: 48px;
 margin: 0px 0px 0px 192px;
}
.rvps108 /* Paragraph Style */
{
 text-align: center;
}
.rvps109 /* left align */
{
 text-indent: 48px;
 margin: 0px 0px 0px 240px;
}
.rvps110 /* left align */
{
 margin: 0px 0px 0px 384px;
}
.rvps111 /* left align */
{
 text-indent: 48px;
 margin: 0px 0px 0px 336px;
}
.rvps112 /* Paragraph Style */
{
 text-indent: -24px;
 margin: 0px 0px 9px 48px;
}
.rvps113 /* Paragraph Style */
{
 text-indent: -24px;
 margin: 0px 0px 17px 48px;
}
.rvps114 /* Paragraph Style */
{
 margin: 0px 0px 17px 0px;
}
.rvps115 /* Paragraph Style */
{
 text-indent: 48px;
 margin: 0px 0px 17px 240px;
}
.rvps116 /* left align */
{
 text-indent: 48px;
 margin: 0px 0px 0px 96px;
}
.rvps117 /* left align */
{
 text-indent: 48px;
 margin: 0px 0px 0px 288px;
}
.rvps118 /* left align */
{
 text-align: right;
 text-indent: 48px;
 margin: 0px 0px 0px 240px;
}
.rvps119 /* Paragraph Style */
{
 margin: 0px 0px 9px 0px;
}
.rvps120 /* left align */
{
 margin: 0px 0px 0px 11px;
}
.rvps121 /* left align */
{
 text-align: right;
}
.rvps122 /* left align */
{
 margin: 0px 0px 0px 288px;
}
.rvps123 /* Paragraph Style */
{
 text-indent: -24px;
 margin: 0px 0px 10px 48px;
}
.rvps124 /* Paragraph Style */
{
 margin: 0px 0px 10px 0px;
}
.rvps125 /* Paragraph Style */
{
 text-indent: 48px;
 margin: 0px 0px 10px 192px;
}
.rvps126 /* Paragraph Style */
{
 text-indent: 48px;
 margin: 0px 0px 10px 240px;
}
.rvps127 /* left align */
{
 margin: 0px 0px 0px 144px;
}
.rvps128 /* left align */
{
 margin: 0px 0px 0px 192px;
}
.rvps129 /* left align */
{
 text-indent: 48px;
}
.rvps130 /* Paragraph Style */
{
 margin: 0px 0px 8px 0px;
}
.rvps131 /* Paragraph Style */
{
 text-indent: 48px;
 margin: 8px 0px 8px 336px;
}
.rvps132 /* Paragraph Style */
{
 text-indent: 48px;
 margin: 8px 0px 8px 240px;
}
.rvps133 /* left align */
{
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps134 /* Paragraph Style */
{
 text-indent: 48px;
 margin: 8px 0px 8px 192px;
}
.rvps135 /* Paragraph Style */
{
 text-indent: 48px;
 margin: 8px 0px 8px 384px;
}
.rvps136 /* Paragraph Style */
{
 text-indent: 48px;
 margin: 0px 0px 9px 432px;
}
.rvps137 /* Paragraph Style */
{
 margin: 0px 0px 7px 0px;
}
.rvps138 /* Paragraph Style */
{
 text-indent: 48px;
 margin: 0px 0px 10px 336px;
}
.rvps139 /* Paragraph Style */
{
 margin: 8px 0px 8px 192px;
}
.rvps140 /* Paragraph Style */
{
 margin: 8px 0px 8px 432px;
}
.rvps141 /* left align */
{
 text-indent: 48px;
 margin: 0px 0px 0px 384px;
}
.rvps142 /* left align */
{
 margin: 0px 0px 0px 432px;
}
.rvps143 /* left align */
{
 margin: 0px 0px 0px 336px;
}
.rvps144 /* Paragraph Style */
{
 margin: 8px 0px 8px 288px;
}
.rvps145 /* Paragraph Style */
{
 margin: 8px 0px 8px 240px;
}
.rvps146 /* Paragraph Style */
{
 margin: 0px 0px 2px 0px;
}
.rvps147 /* Paragraph Style */
{
 text-indent: -24px;
 margin: 8px 0px 8px 48px;
}
.rvps148 /* Paragraph Style */
{
 text-indent: 48px;
 margin: 8px 0px 8px 144px;
}
.rvps149 /* Paragraph Style */
{
 text-indent: 48px;
 margin: 8px 0px 8px 288px;
}
.rvps150 /* Paragraph Style */
{
 text-indent: 48px;
 margin: 8px 0px 8px 432px;
}
.rvps151 /* Paragraph Style */
{
 text-indent: 48px;
 margin: 0px 0px 10px 384px;
}
.rvps152 /* Paragraph Style */
{
 text-indent: 48px;
 margin: 0px 0px 17px 384px;
}
.rvps153 /* left align */
{
 margin: 0px 0px 0px 48px;
}
.rvps154 /* Paragraph Style */
{
 text-indent: 48px;
 margin: 0px 0px 10px 432px;
}
.rvps155 /* Paragraph Style */
{
 text-align: justify;
}
.rvps156 /* Paragraph Style */
{
 text-align: justify;
 margin: 0px 0px 8px 0px;
}
.rvps157 /* Paragraph Style */
{
 text-align: justify;
 text-indent: -24px;
 margin: 0px 0px 8px 48px;
}
.rvps158 /* Paragraph Style */
{
 text-align: center;
 margin: 8px 0px 8px 0px;
}
.rvps159 /* Paragraph Style */
{
 margin: 8px 5px 8px 0px;
}
